.hvim {
    margin-left: 280px;
}

.pvi {
    margin-left: 280px;
}

.vim {
    margin-left: 300px;
    border-radius: 20px;
}

.tkn {
    margin-left: 620px;
    border-radius: 20px;
}

.pvi1 {
    margin-left: 600px;
}

.gtk {
    margin-left: 600px;
}